@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
  background-color: #1C3645;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
